.todo-wrapper {
  @apply flex flex-col flex-grow pl-4;
  @screen lg {
    @apply flex-row;
  }
}
.todo-input-wrapper {
  @apply flex flex-col mb-4;
  @screen lg {
    @apply w-1/3 pr-4;
  }
}
.todo-input-form {
  @apply flex flex-col rounded-md block-background px-6 py-4 shadow-md w-full;
}
.todo-input-form input {
  @apply rounded-md shadow-sm h-12 p-2;
}
.todo-input-form input::placeholder {
  @apply bg-gray-200;
  @apply dark:bg-gray-700;
}
.todo-input-form button {
  @apply bg-yellow-500 transition-all duration-200 p-2 rounded-sm shadow-sm mt-4 w-full;
}
.todo-input-form button:hover {
  @apply bg-yellow-600;
}
.todo-list-wrapper {
  @apply flex flex-col w-full;
  @screen lg {
    @apply w-2/3;
  }
}
.todo-list {
  @apply overflow-y-auto scrollbar-styles;
  height: 68vh;
  @screen md {
    height: 90vh;
  }
}
.todo-list-item {
  @apply block-background rounded-md shadow-md px-6 py-4 w-full grid items-center mb-4 overflow-hidden ;
  min-height: 4rem;
  grid-template-columns: 2rem auto auto;
}
.todo-list-item input {
  @apply form-checkbox text-white rounded-md h-5 w-5 border-gray-400 outline-none;
}
.todo-list-item input:checked {
  @apply bg-yellow-500;
}
.todo-list-item:hover {
  @apply bg-yellow-500 transition-all duration-200;
  input {
    @apply border-none;
  }
}
.todo-list-item.completed {
  @apply bg-gray-400 dark:bg-gray-600;
}
.todo-list-item.completed h5 {
  @apply line-through;
}
.todo-list-item-button {
  @apply w-8 p-1 rounded shadow-sm transition-all duration-300 bg-gray-100 ml-auto;
  @apply text-red-500 hover:text-white hover:bg-red-500;
}
.todo-status i {
  @apply mr-1;
}